pre {
  color: #444;
  margin: 0;
}

.code {
  background: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

p > code {
  background: #F8F8F8;
  border: 1px solid #CCC;
  padding: 3px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 5px;
}

.content p { margin: 0 0 5px 0; }
.page p { margin: 0 0 3px 0; }

ul li { margin-left: 2em; }

.ml {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  display: block;
  width: 320px;
  height: 160px;
  font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.ml:focus {
  border: 1px solid rgba(128, 128, 160, 0.6);
  -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
  outline: none;
}

